<div class="col">
    <div class="row m-3">
        <div class="col-md-8 p-0">
            <h1>Liste des clients</h1>
        </div>
        <div class="col-md-4" style="text-align: end;">
            <app-boutton-action (clickEvent)="nouveauClient()"></app-boutton-action>
        </div>
    </div>
    <div class="col m-3">
        <app-details-clients-fournisseurs></app-details-clients-fournisseurs>
        <app-details-clients-fournisseurs></app-details-clients-fournisseurs>
        <app-details-clients-fournisseurs></app-details-clients-fournisseurs>
        <app-details-clients-fournisseurs></app-details-clients-fournisseurs>
    </div>
    <div class="row mb-3" style="text-align: center;">
        <app-pagination></app-pagination>
    </div>
</div>
