<div class="row mb-1 mr-0  custom-border">
    <div class="col-md-2 mb-1 mt-1">
        <div class="custom-border-right" style="text-align: center;">
            <img src="assets/images/client.jpg" width="100px"/>
        </div>
    </div>
    <div class="col-md-4 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle custom-icon"></i></div>
                <div class="col-md-11">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle custom-icon"></i></div>
                <div class="col-md-11" >Prénom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-phone-alt custom-icon"></i></div>
                <div class="col-md-11">0468/123456</div>
            </div>
            
        </div>
    </div>
    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-qrcode custom-icon"></i></div>
                <div class="col-md-11">CDM-123</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-calendar-check custom-icon"></i></div>
                <div class="col-md-11" >12.12.2022</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-cart-arrow-down custom-icon"></i></div>
                <div class="col-md-11">Livrée</div>
            </div>
            
        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="row p-0 ">
            <div class="col-md-6 text-center">
                <button type="button" class="btn btn-link " style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div> <i class="fas fa-pencil-alt custom-icon"></i></div>
                    <div>Modifier</div>
                </button>
            </div> 
            <div class="col-md-6 text-center">
                <button type="button" class="btn btn-link " style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div> <i class="fas fa-trash-alt custom-icon"></i></div>
                    <div>Supprimer</div>
                </button>
            </div> 
        </div>
    </div>
</div>