<div class="row m-3">
    <div class=" card col-md-4 m-3" style="text-align: center;">
        <div class="col">
            <div class="mb-3 mt-3">
                <img src="assets/images/client.jpg" class="rounded-circle" width="200px" height="200px"/>
            </div>
            <div class="mb-3">
                <h2>Nom prénom</h2>
                <small class="form-text text-muted">Adresse, ville, 1495 </small>
            </div>
            <div class="col mb-3">
                <button type="button" class="btn btn-primary m-1" [routerLink]="['/modifierprofil']"><i class="fas fa-pencil-alt"></i>&nbsp;Modifier le profil</button>
                <button type="button" class="btn btn-warning m-1" [routerLink]="['/changermotdepasse']"><i class="fas fa-lock"></i>&nbsp;change le mot de passe</button>
            </div>
        </div>
    </div>
    <div class=" card col-md-7 m-3">
        <table class="table">
            
            <tbody>
              <tr>
                <th scope="row">Nom complet</th>
                <td>{{user.nom}} {{user.prenom}}</td>
              </tr>
              <tr>
                <th scope="row">E-mail</th>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <th scope="row">Téléphone</th>
                <td>{{user.telephone}}</td>
              </tr>
              <tr>
                <th scope="row">Adresse</th>
                <td>{{user.adresse.numero}} {{user.adresse.rue}}, {{user.adresse.codePostal}} {{user.adresse.ville}}</td>
              </tr>
              <tr>
                <th scope="row">Date de naissance</th>
                <td>{{dateNaissance}}</td>
              </tr>
              <tr>
                <th scope="row">Role</th>
                <td>{{user.role}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
