<div class="col ">
    <div class="col-md-12 p-3">
        <div class="col-md-12 mb-3 ">
            <h2>Nouvelle commande {{origin}}</h2>
        </div>
     
           
        <div class="row p-3 custom-border">
            <div class="col-md-5 custom-border-right">
                <form>
                    <div class="form-group m-1">
                        <input type="text" class="form-control" placeholder="Code commande">
                    </div>
                    <div class="form-group  m-1">
                        <input type="text" class="form-control" placeholder="Date commande">
                    </div>
                    <div class="form-group  m-1">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Sélectionner un client</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>  
                </form>
            </div>
            <div class="col-md-5 custom-border-right">
                <div class="col">
                    <div class="row">
                        <div class="col-md-1"><i class="fas fa-info-circle custom-icon"></i></div>
                        <div class="col-md-11">Nom</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"><i class="fas fa-info-circle custom-icon"></i></div>
                        <div class="col-md-11" >Prénom</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"><i class="fas fa-phone-alt custom-icon"></i></div>
                        <div class="col-md-11">Numero de téléphone</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"><i class="fas fa-hourglass-half custom-icon"></i></div>
                        <div class="col-md-11">En préparation</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="text-align: center;">
                <img src="assets/images/client.jpg" class="rounded-circle" width="100px" height="100px"/>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-3">
        <div class="row p-3 custom-border">
            <form >
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Code Article" aria-label="First name">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Quantité" aria-label="Last name">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Prix unitaire" aria-label="Last name">
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-success"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12 p-3">
        <div class="row p-3 custom-border" style="max-height:400px; overflow-y: scroll;">
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
           <app-detail-commande></app-detail-commande>
        </div>
    </div>

    <div class="col-md-12 p-3">
        <div class="row p-3 custom-border" style="text-align: end;">
            <h3>Total de la commande : 100 </h3>
        </div>
    </div>

    <div class="col-md-12" style="text-align: end;">
        <button class="btn btn-danger m-4">
            <i class="fas fa-ban"></i>&nbsp;
            Annuler
        </button>
        <button class="btn btn-primary m-4">
            <i class="fas fa-save"></i>&nbsp;
            Enregistrer
        </button>
    </div>
</div>
