<!-- <div class="row mb-1 mr-0  custom-border">
    
    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="col-md-12 text-center">
            <h5>Code article</h5>
        </div>
    </div>
    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="col-md-12 text-center">
            <h5>Désignation article</h5>
        </div>
    </div>

    <div class="col-md-2 custom-border-right mb-1 mt-1">
        <div class="col-md-12 text-center">
            <h5>6</h5>
        </div>
     </div>

    <div class="col-md-2 mb-1 mt-1 custom-border-right">
        <div class="col-md-12 text-center">
            <h5>12.3</h5> 
        </div>
    </div>

    <div class="col-md-2 mb-1 mt-1">
        <div class="col-md-12 text-center">
            <h5>73.5</h5> 
        </div>
    </div>

</div> -->

