<main class="col-md-12 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Liste des articles</h1>
     
      
      <div class="btn-toolbar mb-2 mb-md-0">
        <div *ngIf="user.role == roles.admin || user.role==roles.preparateur" class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="nouvelArticle()">
              <i class="fas fa-plus"></i>
              &nbsp;Nouveau
          </button>
        </div>
      </div>
    </div>
</main>


<div class="col">
    <div class="col m-3" >
        <div class="row">
            <div class="col-md-4 text-center">
               
            </div>
            <div class="col-md-4  mb-4 mr-0">
                <h3 class="text-center">Trier par catégorie</h3>
                <select  class="form-control text-center " [(ngModel)]="categorieValue" (ngModelChange)="getCat(categorieValue)" >
                    <option [ngValue]="">Tout</option>
                    <option *ngFor="let categorie of categories" [ngValue]="categorie">
                        {{categorie.nom}}
                    </option>
                </select>
            </div>
            <div class="col-md-4 text-center">
                <div style ='text-align: end;' >
                    <button type="button" class="btn btn-sm btn-outline-secondary "(click)="goPanier()">
                        <i class="fas fa-shopping-basket">
                             &nbsp; Mon panier  
                        </i>
                    </button>
                </div>
                <div class="m-3">
                    <h4>Montant {{total}}€</h4>
                </div>
                
            </div>
        </div>
       
        <div class="row mb-1 mr-0  custom-border">
            <div class="col-md-2 text-bolt text-underline text-center custom-border-right mb-1 mt-1">Image</div>
            <div class="col-md-3 text-bolt text-underline text-center custom-border-right  mb-1 mt-1">Infos</div>
            <div class="col-md-3 text-bolt text-underline text-center custom-border-right  mb-1 mt-1">Prix</div>
            <div class="col-md-4 text-bolt text-underline text-center">Commander</div>
        </div>

   <div class="row p-3" style="max-height:450px; overflow-y: scroll;">
        <div *ngFor="let article of newArticles">
            <div class="accordion row custom-border m-1" id="accordion" >
                <div id="client{{article.id}}"></div>
                <button class="btn btn-link btn-block col-md-9" 
                        style="text-decoration: none;" 
                        type="button" 
                        data-toggle="collapse" 
                        [attr.data-target]="'#collapse'+article.id" 
                        aria-expanded="true" 
                        aria-controls="collapseOne">


                    <div class="row mb-1 mr-0 p-1  " >
                        <div class="col-md-3 mb-1 mt-1 custom-border-right text-center">
                            <img [src]="'assets/images/'+article.urlImage" width="100px" height="100px"/>
                        </div>
                        <div class="col-md-4 custom-border-right mb-1 mt-1">
                            <div class="row">
                                <div class="col-md-12 m-2"> <h5>{{article.designation}} </h5></div>           
                                <div class="col-md-12 m-2"> {{article.categorie.nom}} {{article.categorie.description}}</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-1 mt-1 custom-border-right">
                            <div class="col">
                                <div class="col-md-12 mt-4"><h4>{{article.prixTTC}} €</h4></div>
                            </div>
                        </div>

                    </div>
                </button> 
                <div class="col-md-3">
                    <div class="text-center ">
                        <label for="floatingInput">Quantité</label>
                        <div class="row mt-1">
                            <div class=" col-md-2"></div>
                            <div class=" col-md-8">
                                <input type="number" class="form-control text-center" [(ngModel)]="article.quantite">
                            </div>
                            <div class=" col-md-2"></div>
                        </div>
                        
                    </div> 
                    <div class=" text-center">
                        <button  type="button" class="btn btn-link" style="text-decoration: none;" (click)="ajouterPanier(article)" >
                            <div> <i class="fas fa-shopping-basket"></i></div>
                            <div>Ajouter au panier</div>
                        </button>
                    </div> 
                </div>
                   

                <div *ngIf="user.role == roles.admin" id="collapse{{article.id}}" 
                    class="collapse" 
                    [attr.aria-labelledby]="'#client'+article.id" 
                    data-parent="#accordion" 
                    style="max-height: 300px; overflow-y:scroll;">
                    <div class="card-body">

                        <div class="row mb-1 mr-0  custom-border">
                            <div class="col-md-4 p-4 custom-border-right mb-1 mt-1 text-center">
                                <button type="button" class="btn btn-link " style="text-decoration: none;" (click)="modifier(article.id)">
                                    <div> <i class="fas fa-pencil-alt"></i></div>
                                    <div>Modifier</div>
                                </button>
                            </div>
                            <div class="col-md-4 p-2 custom-border-right text-center">
                                <div class="row">
                                    <div class="col-md-1"><i class="fas fa-info-circle custom-icon"></i></div>
                                    <div class="col-md-11">Categories: {{article.categorie.nom}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fas fa-info-circle custom-icon"></i></div>
                                    <div class="col-md-11">Code article : {{article.codeArticle}}</div> 
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fas fa-info-circle custom-icon"></i></div>
                                    <div class="col-md-11" >Zone Stock : {{article.codeStock}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"><i class="fas fa-dollar-sign custom-icon"></i></div>
                                    <div class="col-md-11">Taux TVA : {{article.prixHTVA}}%</div>
                                </div>
                            </div>
                            <div class="col-md-4 p-4 mb-1 mt-1 text-center">
                                <button type="button" class="btn btn-link valid-button" style="text-decoration: none;color: red;" (click)="supprimer(article.id)">
                                    <div><i class="fas fa-trash-alt"></i></div>
                                    <div>Supprimer</div>
                                </button>  
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row mb-3" style="text-align: center;">
            <app-pagination></app-pagination>
        </div>
    </div>
</div>