<div class="col ">
    <div class="col-md-12 m-3">
        <img src="assets/images/pomme.jpg" class="rounded-circle" width="200px" height="200px"/>
    </div>
    <hr>
    <div class="col-md-12 p-3">
        <div class="col-md-12 mb-3 ">
            <h2> <i class="fas fa-info-circle custom-icon"></i>&nbsp;Information de l'article </h2>
        </div>
        <div class="col md-12">
            <form [formGroup]="formNouvelArticle">
                <div class="row mb-3">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Code Article" formControlName="codeArticle">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Désignation" formControlName="designation">
                  </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Prix unitaire HTVA" formControlName="prixHTVA">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Taux TVA" formControlName="tauxTVA">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Prix unitaire TTC" formControlName="prixTTC">
                    </div>
                    
                    <div class="col">
                        <select class="form-control" id="exampleFormControlSelect1" formControlName="categorieID" >
                            <option selected>Sélectionner une catégorie</option>
                            <option *ngFor="let categorie of categories" value={{categorie.id}}>{{categorie.nom}}</option>
                            
                          </select>
                    </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Copiez l'url de l'image" formControlName="urlImage">
                  </div>
                </div>
                
              </form>
        </div>
    </div>
    <div class="col-md-12" style="text-align: end;">
        <button class="btn btn-danger m-4" (click)="cancelClick()">
            <i class="fas fa-ban"></i>&nbsp;
            Annuler
        </button>
        <button class="btn btn-primary m-4" 
                (click)="saveClick()"
                [disabled]="formNouvelArticle.invalid">
            <i class="fas fa-save"></i>&nbsp;
            Enregistrer
        </button>
    </div>
</div>
