/* You can add global styles to this file, and also import other style files */


body{
    background-color: #f5f5f5 ! important;
}

.background-grey{
    background-color: #f5f5f5 ! important; 
}

.border-none{
    border: none !important;
}

.min-height-80{
    min-height: 80px;
}

.custom-border-right{
    border-right : solid 2px #9ca1a6 ;
}

.custom-border{
    border: solid 3px #9ca1a6;
    border-radius: 5px;
}

.custom-icon{
    color: #037bfe;
}

.text-center{
    text-align: center;
}

.text-bolt{
    font-weight: bold;
}

.text-underline{
    text-decoration: underline;
}

.text-nodeco{
    text-decoration: none;
    color: black;
}


html, body{
    height:100%;
}

.login-page {
    height: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }