<div class="col ">
    <div class="col-md-12 p-3">
        <div class="col-md-12 mb-3 ">
            <h2>Mon panier</h2>
        </div>
     
           
        <div class="row p-3 custom-border">
            <div class="col-md-8 custom-border-right">
                <div class="col">
                    <div class="row">
                        <div class="col-md-1"><i class="fas fa-info-circle custom-icon"></i></div>
                        <div class="col-md-11">{{user.nom}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"><i class="fas fa-info-circle custom-icon"></i></div>
                        <div class="col-md-11">{{user.prenom}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"><i class="fas fa-phone-alt custom-icon"></i></div>
                        <div class="col-md-11">{{user.email}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <img src="assets/images/client.jpg" class="rounded-circle" width="100px" height="100px"/>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-3">
        <div class="row p-3 ml-2 mr-2">
            <div class="row mb-1 mr-0  custom-border">
    
                <div class="col-md-2 custom-border-right mb-1 mt-1">
                    <div class="col-md-12 text-center">
                        <h5>Image</h5>
                    </div>
                </div>
                <div class="col-md-2 custom-border-right mb-1 mt-1">
                    <div class="col-md-12 text-center">
                        <h5>Info</h5>
                    </div>
                </div>
            
                <div class="col-md-2 custom-border-right mb-1 mt-1">
                    <div class="col-md-12 text-center">
                        <h5>Prix</h5>
                    </div>
                 </div>
            
                <div class="col-md-2 mb-1 mt-1 custom-border-right">
                    <div class="col-md-12 text-center">
                        <h5>Quantité</h5> 
                    </div>
                </div>
            
                <div class="col-md-2 mb-1 mt-1 custom-border-right">
                    <div class="col-md-12 text-center">
                        <h5>Status</h5> 
                    </div>
                </div>
                <div class="col-md-2 mb-1 mt-1">
                    <div class="col-md-12 text-center">
                        <h5>Actions</h5> 
                    </div>
                </div>
        </div>
    </div>
    <div class="col-md-12 p-3" >
        <div class="row p-3" style="max-height:400px; overflow-y: scroll;" >
            <div class="row mb-1 mr-0 p-3 custom-border" *ngFor="let commande of commandes">
    
                <div class="col-md-2 custom-border-right text-center mb-1 mt-1">
                    <img [src]="'assets/images/'+commande.article.urlImage" width="50px" height="50"/>
                </div>
                <div class="col-md-2 custom-border-right mb-1 mt-1">
                    <div class="col-md-12 m-2 text-center">
                        <h5>{{commande.article.designation}}</h5>
                    </div>
                </div>
            
                <div class="col-md-2 custom-border-right mb-1 mt-1">
                    <div class="col-md-12 m-2 text-center">
                        <h5>{{commande.article.prixTTC}} €</h5>
                    </div>
                 </div>
            
                <div class="col-md-2 mb-1 mt-1 custom-border-right">
                    <div class="col-md-12 m-2 text-center">
                        <h5>{{commande.quantite}}</h5> 
                    </div>
                </div>
                <div class="col-md-2 mb-1 mt-1 custom-border-right">
                    <div class="col-md-12 text-center m-2">
                        <div *ngIf="commande.status == status.attente"> <h5>Confirmer </h5> </div>
                        <div *ngIf="commande.status == status.livraison"> <h5>Livraison</h5> </div>
                        <div *ngIf="commande.status == status.prepa"> <h5> Préparation</h5> </div>
                        <div *ngIf="commande.status == status.recu"> <h5> Terminer</h5> </div>
                    </div>
                </div>
            
                <div class="col-md-2 mb-1 mt-1">
                    <div class="row">
                        <div *ngIf="commande.status == status.attente" class="col-md-5 text-center">
                            <div class=" text-center">
                                <button type="button" class="btn btn-link" style="text-decoration: none;" (click)="valider(commande.id)">
                                    <div> <i class="fas fa-check-circle"></i></div>
                                    <div>validez</div>
                                </button>
                            </div> 
                        </div>
                        <div *ngIf="commande.status == status.attente" class="col-md-5 text-center">
                            <div class=" text-center">
                                <button type="button" class="btn btn-link" style="color: red;" (click)="annuler(commande.id)" >
                                    <div> <i class="fas fa-trash-alt"></i></div>
                                    <div>annuler</div>
                                </button>
                            </div> 
                        </div>
                        <div *ngIf="commande.status == status.livraison" class="col-md-12 text-center">
                            <div class=" text-center">
                                <button type="button" class="btn btn-link" style="text-decoration: none; color: green;" (click)="recu(commande.id)">
                                    <div> <i class="fas fa-check-circle"></i></div>
                                    <div>Reçu</div>
                                </button>
                            </div> 
                        </div>
                        <div *ngIf="commande.status == status.recu" class="col-md-12 text-center">
                            <div class=" text-center" style="text-decoration: none; color:black;">
                                <i class="far fa-calendar-check"></i>
                                <div>Terminer</div>
                            </div> 
                        </div>
                        <div *ngIf="commande.status == status.prepa" class="col-md-12 text-center">
                            <div class=" text-center" style="text-decoration: none; color:orange;">
                                <i class="fas fa-hourglass-half"></i>
                                <div>preparation</div>
                            </div> 
                        </div>

                    </div>
                   
                </div>
              
            </div>
            <div class="col-md-12 p-3">
                <div class="row p-3 custom-border" style="text-align: end;">
                    <h3>Solde a payer : {{total}}€ </h3>
                </div>
            </div>
        </div>
    </div>

    

    <div class="col-md-12" style="text-align: end;">
        <button class="btn btn-danger m-4"
                (click)="cancel()">
            <i class="fas fa-ban"></i>&nbsp;
            Retour
        </button>
        <!-- <button *ngIf="isNoValid" class="btn btn-primary m-4"
                (click)="validerTout()">
            <i class="fas fa-save"></i>&nbsp;
            Validez tout
        </button> -->
      
    </div>
</div>
