<div class="col">
    <div class="row m-3">
        <div class="col-md-8 p-0">
            <h1>Liste des catégories</h1>
        </div>
        <div class="col-md-4" style="text-align: end;">
            <app-boutton-action (clickEvent)="nouvelCategorie()"></app-boutton-action>
        </div>
    </div>
    <div class="col m-3">
        <div class="row text-center text-bolt text-underline custom-border mb-1 mr-0" >
            <div class="col-md-4 custom-border-right">Code catégorie </div>
            <div class="col-md-3 custom-border-right">Nom</div>
            <div class="col-md-5">Desciption catégorie </div>
        </div>
    </div>
    <div class="col m-3" *ngFor="let categorie of categories">
        <div class="row custom-border text-center mb-3 p-3">
            <div class="col-md-4 custom-border-right">
                {{categorie.codeCategorie}}
            </div>
            <div class="col-md-3 custom-border-right">
                {{categorie.nom}}
            </div>
            <div class="col-md-5 ">
               {{categorie.description}}
            </div>
        </div>
    </div>
    <div class="row mb-3" style="text-align: center;">
        <app-pagination></app-pagination>
    </div>
</div>