<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-muted">Vue d'ensemble</a></li>
        <li class="nav-item"><a routerLink="/articles" class="nav-link px-2 text-muted">Articles</a></li>
        <li class="nav-item"><a routerLink="/nouvellecommandeclient" class="nav-link px-2 text-muted">Mes commandes</a></li>
        <li class="nav-item"><a routerLink="/statistiques" class="nav-link px-2 text-muted">Statistiques</a></li>
      </ul>
      <p class="text-center text-muted">&copy; 2022 Benjamin Stercks &copy;</p>
    </footer>
  </div>